body {
    background-color: blue;
    font-family: Helvetica;
    background-image: url("../images/Word_of_day.jpg");
}
header{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    color: yellow;
    background-color: red;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.container {
    position: absolute;
    top: 150px;
    left: 30px;
    width: 100%;
}

.col, .row{
    margin: 3px;
}

.btn {
    background-color: white;
    opacity: .85;
    width: 140px;
    height: 80px;
    font-size: 20px;
    padding: 2px;
    color: blue;
    border: 3px solid blue;
    border-radius: 8px;
}


h3 {
    color: blue;
    text-align: center;
    width: 300px;
}

ol,li {
    text-align: left;
    color: blue;
}

.message-div{

    background-color: red;
    color: blue;
    font-size: 24px;
    text-align: center; 
    margin: 5px; 
    padding: 5px;  
    width: 350px;
    height: 90px;
    border-radius: 8px;
    border: 3px solid blue;
    
}

.word-div{
    background-color: yellow;
    color: blue;
    height: 80px;
    width: 350px;
    margin: auto;
    padding: 20px;
    border: 3px solid blue;
    border-radius: 8px;
    /* font-size: 24px; */
}


.letters-div{
    background-color: yellow;
    color: blue;
    height: 140px;
    width: 350px;
    padding: 20px;
    /* font-size: 16px; */
    margin: auto;
    border: 3px solid blue;
    border-radius: 8px;
}

#rules{
    background-color: white;
    float: right;
    opacity: .85;
    height: 160px;
    width: 320px;
    border: 3px solid blue;
    border-radius: 8px;   
}

.mastfoot {
    background-color: lightblue;
    color: blue;
    text-align:center;
}



