body {
    background-color: blue;
    font-family: Helvetica;
    background-image: url("../images/Word_of_day.jpg");
}

h1,h2,p,ol,li {
    color: yellow;
    text-align: center;
}

h1 {
    font-size: 40px;
    background-color: red;
    text-align: center;
    margin: auto;    
    width: 400px;    
}

p{
    background-color: red;
    text-align: center; 
    margin: auto;   
    width: 120px;
}

#incWord {
    background-color: yellow;
    color: blue;
    margin: auto;
    padding: 30px;
    font-size: 24px;
}

#start {
    background-color: white;
    color: black;
    margin: auto;
    border-radius: 8px;
    height: 50px;
    width: 90px;
    border: 3px solid #E92525;
}

